@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.7rem;
  font-size: 1.8rem; }

.heading-1 {
  font-family: 'Akronim', cursive;
  font-size: 12rem;
  letter-spacing: 0.75rem;
  margin-top: 11rem;
  border-bottom: 3px solid #fff;
  display: inline-block;
  animation: moveInLeft 1s ease-in-out .5s backwards; }
  .heading-1__blue {
    color: #0c59e4; }
  .heading-1__yellow {
    color: #f6ce36; }

.heading-2 {
  font-size: 6rem;
  letter-spacing: 0.5rem; }

.text-blue {
  color: #0c59e4; }

.text-yellow {
  color: #f6ce36; }

.text-p {
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 400; }

.footer {
  background-color: #222; }
  .footer__address {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.5rem; }
  .footer__text {
    font-size: 1.7rem;
    font-weight: 500; }
  .footer__icon {
    font-size: 6rem;
    backface-visibility: hidden;
    transition: all .2s; }
    .footer__icon:hover {
      color: #3b5998; }

.copy-bg {
  background-color: #000; }

.euratas-nav {
  background: rgba(0, 0, 0, 0.9);
  padding: 2rem; }
  .euratas-nav__brand {
    font-family: 'Akronim', cursive;
    opacity: 0;
    transition: all .5s; }
    .euratas-nav__brand--hidden {
      opacity: 1;
      font-family: 'Akronim', cursive;
      font-size: 3rem;
      font-weight: 100; }
    .euratas-nav__brand--blue {
      color: #0c59e4; }
    .euratas-nav__brand--yellow {
      color: #f6ce36; }
  .euratas-nav__item {
    padding: 0 1.5rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 700;
    list-style: none; }
    .euratas-nav__item--anim-1 {
      animation: moveInLeft ease-in-out .6s backwards; }
    .euratas-nav__item--anim-2 {
      animation: moveInLeft ease-in-out .7s backwards; }
    .euratas-nav__item--anim-3 {
      animation: moveInLeft ease-in-out .8s backwards; }
    .euratas-nav__item--anim-4 {
      animation: moveInLeft ease-in-out .9s backwards; }
    .euratas-nav__item--anim-5 {
      animation: moveInLeft ease-in-out 1s backwards; }
    .euratas-nav__item--yellow {
      color: #f6ce36;
      backface-visibility: hidden;
      transition: all .4s; }
      .euratas-nav__item--yellow:hover {
        transform: translateX(-0.2rem) translateY(-0.5rem);
        color: #f9de77; }
    .euratas-nav__item--blue {
      color: #0c59e4;
      backface-visibility: hidden;
      transition: all .4s; }
      .euratas-nav__item--blue:hover {
        transform: translateX(-0.2rem) translateY(-0.5rem);
        color: #5f95f7; }
    .euratas-nav__item--white {
      color: #fff;
      backface-visibility: hidden;
      transition: all .4s; }
      .euratas-nav__item--white:hover {
        transform: translateX(-0.2rem) translateY(-0.5rem);
        color: #ddd; }

.line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .4s; }

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.change .line2 {
  opacity: 0; }

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

.header {
  background: url(/img/header-img.jpg);
  background-size: cover;
  height: 100vh;
  display: block;
  background-position: center; }
  .header__text {
    font-size: 5rem;
    padding-top: 3.5rem;
    animation: moveInLeft 1s ease-in-out 1s backwards;
    line-height: 4rem; }

.taisymas {
  background-color: #f9f9f9; }

.padangos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/padangos.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
