body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
    font-size: 1.8rem;
}

.heading-1 {
    font-family: 'Akronim', cursive;
    font-size: 12rem;
    letter-spacing: 0.75rem;
    margin-top: 11rem;
    border-bottom: 3px solid $white;
    display: inline-block;
    animation: moveInLeft 1s ease-in-out .5s backwards;

    &__blue {
        color: $blue;
    }
    
    &__yellow {
        color: $yellow;
    }
}

.heading-2 {
    // font-family: 'Akronim', cursive;
    font-size: 6rem;
    letter-spacing: 0.5rem;
}

.text-blue {    
    color: $blue;
}

.text-yellow {
    color: $yellow;
}

.text-p {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 400;
}



